body{
    background-color: bisque;
}
header{
    text-align: center;
    text-decoration: solid;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: cadetblue;
    color: darkgray;
}


input[type=text],input[type=phonenumber]{
    text-align: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
    display: inline-block;
    border-radius: 10px;
    color: blue;
    font-size: 20px;
    font-weight: bold;
}
input[type=text]:focus,input[type=phonenumber]:focus{
    background-color: lightcoral;
}
.container label{
    font-size: 25px;
    font-weight: bold;
    color: darkorange;

}
.btn1{
    text-align: center;
    font-display: inherit;
    cursor: pointer;
    color: darkred;
    background-color: lightblue;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;


}
.container img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    
}
#one{
    width: 50px;
}